.WeatherLocation {
    width: 400px;
    height: 150px;
    display: grid;
    grid-gap:2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 5fr;
}

.Temperature, .ExtraInfo {
    background:  #FFD200;
    background: -webkit-linear-gradient(to bottom, rgb(230, 199, 62), #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Location {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgb(230, 199, 62), #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black;
    grid-row:1;
    grid-column: span 2;
    font-size: 20pt;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.Temperature {
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.WeatherIcon, .TempValue {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.TempValue {
    font-size: 21pt;
}

.ExtraInfo {
    list-style-type: none;
    border-radius: 4px;
    color: black;
    font-size: 12pt;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.ExtraInfoItem {
    display: grid;
    padding-left:20px;
    grid-template-columns: 1fr 1fr;
}